{% extends 'base_auth.html' %}
{% load static %}


{% block title %}
    SetPassword
{% endblock title %}

{% block styles %}
    <style>
        .strong-pass{
            font-size: 14px; /* Adjust font size */
            color: #28a745; /* Set text color to green */
            display: block; /* Ensure it's displayed as a block element */
            margin-top: 5px; 
        }
        .weak-pass{
            font-size: 14px; /* Adjust font size */
            color:  #dc3545; /* Set text color to green */
            display: block; /* Ensure it's displayed as a block element */
            margin-top: 5px; 
        }
        .toggleMode{
            cursor: pointer;
        }
        .toggleMode:hover{
            scale: 1.2;
        }
    </style>
{% endblock styles %}

{% block content %}
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 ">
        <div class="card mt-5">
            <div class="card-title">
                
            </div>
            <div class="card-body">
                <h4 class="text-center">Create a new password</h4>
                <form action="{% url 'reset-user-password' uibd64 token %}" method="post">
                    {% csrf_token %}
                    {% include 'partials/_messages.html' %}
                    
                    <div class="form-group">
                        <input type="password" name="password" id="passwordField" placeholder="Password" class="form-control form-control-sm">
                        <small class="float-right py-2 toggleMode">SHOW</small>
                    </div>
                    <div class="strong-pass" style="display: none;"><p>Strength: strong<p></p></div>
                    <div class="weak-pass" style="display: none;"><p>Strength: weak<p></p></div>
                    
                    <input type="submit" value="Submit" class="btn btn-block btn-success submit-btn">
                    
                </form>
            </div>
        </div>


    </div>
    <div class="col-md-4"></div>
</div>
<script src="{% static 'js/register.js' %}"></script>
{% endblock content %}